* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_nav ul li a {
  color: #001942;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

.jumbotron {
  display: flex;
  justify-content: center;
}

.main_nav {
  display: flex;
  justify-content: center;
}

.main_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main_nav ul li {
  margin: 2px;
  padding: 20px;
}

.main_nav ul li:hover {
  background-color: #B3E5FC;
}

.main_content {
  height: 600px;
}

