* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_nav ul li a {
  color: #001942;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}

h2 {
  font-family: "Teko", sans-serif;
  font-size: 65px;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-family: "Teko", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

footer {
  font-family: "Teko", sans-serif;
}

.jumbotron {
  display: flex;
  justify-content: center;
}

.main_nav {
  display: flex;
  justify-content: center;
}

.main_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main_nav ul li {
  margin: 2px;
  padding: 20px;
}

.main_nav ul li:hover {
  background-color: #B3E5FC;
}

.main_nav ul .active {
  background-color: #B3E5FC;
}

.main_content {
  margin-top: 10px;
  background-repeat: repeat;
  padding: 60px 0;
}

.main_content .blog_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main_content .blog_row h2 {
  width: 100%;
  text-align: center;
  padding: 0 25px;
}

.main_content .blog_row .card {
  position: relative;
  width: 33.33%;
  padding: 30px 25px;
}

.main_content .blog_row .card img {
  width: 100%;
}

.main_content .blog_row .card .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 49.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 50px);
  height: calc(100% - 64px);
  background-color: rgba(255, 255, 0, 0.5);
  opacity: 0;
}

.main_content .blog_row .card .overlay img {
  height: 50px;
}

.main_content .blog_row .card .overlay:hover {
  opacity: 1;
}

.home_content {
  margin: 20px 0;
}

.home_content .home_row {
  display: flex;
  width: 98vw;
  height: 49vw;
  margin: auto;
}

.home_content .home_row .home_col {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.home_content .home_row .home_col .home_row2 {
  display: flex;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.home_content .home_row .home_col .home_row2 .home_col2 {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.home_content img {
  height: 105%;
}

footer {
  color: #808080;
}

footer .footer_wrap {
  display: flex;
  width: 60%;
  margin: auto;
  padding-top: 20px;
}

footer .footer_wrap .footer_col {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 15px;
}

footer .footer_wrap .footer_col ul {
  margin: 20px 0;
  list-style: none;
  font-size: 23px;
  font-weight: 300;
}

footer .footer_wrap .footer_col ul li {
  text-transform: capitalize;
}

footer .footer_wrap .footer_col ul li:first-child {
  font-weight: 500;
  text-transform: uppercase;
  color: #001942;
  margin-bottom: 10px;
}

footer .footer_wrap .footer_text {
  text-transform: uppercase;
  margin: 20px 0;
}

footer .footer_wrap .footer_text a {
  text-decoration: none;
  color: #808080;
}

footer .footer_wrap .footer_text img {
  width: 100px;
}

