* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_nav ul li a {
  color: #001942;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}

h2 {
  font-family: "Teko", sans-serif;
  font-size: 65px;
  font-weight: 300;
  text-transform: uppercase;
}

.jumbotron {
  display: flex;
  justify-content: center;
}

.main_nav {
  display: flex;
  justify-content: center;
}

.main_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main_nav ul li {
  margin: 2px;
  padding: 20px;
}

.main_nav ul li:hover {
  background-color: #B3E5FC;
}

.main_content {
  background-repeat: repeat;
  padding: 60px 0;
}

.main_content .blog_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main_content .blog_row h2 {
  width: 100%;
  text-align: center;
  padding: 0 25px;
}

.main_content .blog_row .card {
  width: 33.33%;
  padding: 30px 25px;
}

.main_content .blog_row .card img {
  width: 100%;
}

