.home_content {
  margin: 20px 0;
  .home_row {
    display: flex;
    width: 98vw;
    height: 49vw;
    margin: auto;

    .home_col{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      overflow: hidden;
      .home_row2{
        display: flex;
        width: 100%;
        height: 50%;
        overflow: hidden;

        .home_col2 {
          position: relative;
          width: 50%;
          height: 100%;
          overflow: hidden;


        }
      }
    }
  };
  img {
  height: 105%;
  }
};
.main_overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #B3E5FC;

  opacity: 0;
  img{
    height: 100px;
  };
  p {
    font-size: 30px;
  }
};
.main_overlay:hover{
  opacity: .5;
};
