.main_content {
  margin-top: 10px;
  background-repeat: repeat;
  padding: 60px 0 ;
  .blog_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    h2 {
      width: 100%;
      text-align: center;
      padding: 0 25px;
    };
    .card {
      position: relative;
      width: 33.33%;
      padding: 30px 25px;

      img {
        width: 100%;
      };
      .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 49.6%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: calc(100% - 50px);
        height: calc(100% - 64px);
        background-color: rgba(255,255,0,.5);
        opacity: 0;
        a {
          text-decoration: none;
          color: rgba(0,25,66,1);        
          img {
            height: 50px;
          };
        };
      };
      .overlay:hover{
        opacity: 1;
      };
    }
  }
}
