.main_nav {
  ul{
    li{
      a{
        color: rgba(0,25,66,1);
        font-family: 'Teko', sans-serif;
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
        text-transform: capitalize;
      }
    };
  };
}
h2 {
  font-family: 'Teko', sans-serif;
  font-size: 65px;
  font-weight: 300;
  text-transform: uppercase;

}
